* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#grid-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    display: grid;
    width: 80%;
    height: 80%;
}

.grid-cell {
    border: 1px solid black;
}

